a2wsgi>=1.10.6
cryptography
elasticsearch>=7.0.0,<=7.13.4
extendable>=0.0.4
extendable-pydantic>=1.2.0
extendable_pydantic>=1.2.0
fastapi>=0.110.0
openupgradelib
parse-accept-language
pyjwt
python-multipart
python-slugify
requests
slugify
typing-extensions
ujson
unidecode
pydantic>=2.0.0
typing-extensions
ujson
unidecode
pydantic
pydantic>=2.0.0
